<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{>style}}
  <title>About Page</title>
</head>

<body>
  <div class="container">

  {{>header}}
  <div class="cont">
    <p>This is a cool weather app!</p>
    <img src="/img/33362.jpg" alt="">
  </div>
  </div>
  {{>footer}}
</body>

</html>