@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
body {
  margin: 0;
  padding: 0;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  color: rgb(221, 221, 221);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(36, 36, 36);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  height: 100%;
  position: relative;
  flex-grow: 1;
}

form {
  position: relative;
  width: 400px;
  font-size: 1.2rem;
}
input[type="text"] {
  margin-top: 20px;
  width: 200px;
  padding: 5px;
  height: 20px;
  font-size: 1.2rem;
}
input[type="submit"] {
  border: 1px solid grey;
  background: grey;
  color: white;
  margin-top: 10px;
  padding: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.msg {
  position: absolute;
  top: -30px;
  left: 5px;
  font-size: 1.2rem;
  min-width: fit-content;
}

.content {
  margin-top: 20px;
  position: relative;
  align-items: center;
  width: fit-content;
  height: auto;
  /* border-radius: 5px; */
  box-shadow: 1px 1px 3px 1px rgb(241, 241, 241);
  box-sizing: content;
  padding: 20px;
  background: rgb(243, 243, 243);
}
.content img {
  /* box-shadow: 1px 1px 3px rgb(255, 255, 255), -1px -1px 3px rgb(196, 196, 196); */
  border-radius: 20%;
}

.loader {
  position: absolute;
  width: auto;
  height: 70px;
  top: 0;
  background: rgb(243, 243, 243);
}

h1,
p {
  color: rgb(192, 192, 192);
  /* text-align: center; */
}
h2 {
  color: rgb(73, 73, 73);
}
h3 {
  color: rgb(53, 0, 151);
  text-align: left;
}

p {
  font-size: 1.4rem;
}

nav {
  height: 40px;
  width: fit-content;
  margin: 0;
}
nav ul {
  margin-left: -50px;
}

nav ul li {
  display: inline;
  list-style-type: none;
}

nav ul li a {
  padding: 5px 10px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(177, 177, 177);
}

nav ul li a:hover {
  color: blueviolet;
}

footer {
  border-top: 1px solid gray;
  margin: 20px auto 0 auto;
  max-width: 800px;
  width: 100%;
}
footer > p {
  margin-left: 20px;
}
